In [1]:
import numpy as np
import pandas as pd

## 从文本读取数据
in linux use `!cat the.txt`  in windows use `!type the.txt`

In [5]:
test_csv = './examples/test.csv'
print(*open(test_csv))

a,b,c,d,message
 1,2,3,4,hello
 5,6,7,8,world
 9,10,11,12,foo

In [6]:
df = pd.read_csv(test_csv)

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 处理没有header的情况
如果指定 `header=None` ，那么将会自动分配0, 1, 2等为header，或者通过 `names=['a','b']` 来指定之,如果原来csv数据源有header，那么可以通过 `skiprows` 来跳过这个你不想要的header。

In [10]:
df2 = pd.read_csv(test_csv, names=['d', 'c','b','a','info'], skiprows=[0])
df2

   d   c   b   a   info
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [15]:
with open('examples/test.json','w') as f:
    print(df2.to_json(),file=f)

## 读入excel
读入微软的excel文件,这需要你安装 `xlrd` 模块。

In [20]:
pd3 = pd.read_excel('examples/test.xlsx')
pd3

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 读取html文件
是的，pandas还可以直接读取分析html文件

In [56]:
pd4 = pd.read_html('examples/benzene.html')
for index,i in enumerate(pd4[2][0]):
    if i =='化学式':
        print(pd4[2][1][index])

C6H6